<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="form-group">
    <%= label f, :label, class: "control-label" %>
    <%= text_input f, :label, class: "form-control" %>
    <%= error_tag f, :label %>
    <span class="help-block">Example: Courtier, Magistrates, etc</span>
  </div>

  <div class="form-group">
    <%= label f, :day, class: "control-label" %>
    <%= text_input f, :day, class: "form-control" %>
    <%= error_tag f, :day %>
  </div>

  <div class="form-group">
    <%= label f, :time_of_day, "Time of Day (UTC)", class: "control-label" %>
    <%= time_select f, :time_of_day, class: "form-control" %>
    <%= error_tag f, :time_of_day %>
    <span class="help-block">UTC is GMT essentially.</span>
  </div>

  <div class="form-group">
    <%= submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
