<h2>Schedule</h2>

<table class="table">
  <thead>
    <tr>
      <th>Label</th>
      <th>Day</th>
      <th>Time of day</th>
      <th>Characters</th>
      <th>Players</th>
<%= if logged_in?(@conn) do %>
      <th></th>
<% end %>
    </tr>
  </thead>
  <tbody>
<%= for game_schedule <- @game_schedules do %>
    <tr>
      <td><%= game_schedule.label %></td>
      <td><%= game_schedule.day %></td>
      <td class="time-utc" data-time="<%= game_schedule.time_of_day %>"><%= game_schedule.time_of_day %> UTC</td>
      <td>
        <ul class="list-unstyled">
  <%= for character <- game_schedule.characters do %>
          <li>
            <%= character.name %>
    <%= for keyword <- Enum.take(character.keywords || [], 1) do %>
      <span class="label label-info"><%= keyword %></span>
    <% end %>
          </li>
  <% end %>
        </ul>
      </td>
      <td>
        <ul class="list-unstyled">
  <%= for character <- game_schedule.characters do %>
          <li><%= character.user.username %></li>
  <% end %>
        </ul>
      </td>
      <td class="text-right">
  <%= if logged_in?(@conn) do %>
        <%= link "Show", to: game_schedule_path(@conn, :show, game_schedule), class: "btn btn-default btn-xs" %>
    <%= if current_user(@conn).admin do %>
          <%= link "Edit", to: game_schedule_path(@conn, :edit, game_schedule), class: "btn btn-default btn-xs" %>
          <%= link "Delete", to: game_schedule_path(@conn, :delete, game_schedule), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %>
    <% end %>
      </td>
  <% end %>
    </tr>
<% end %>
  </tbody>
</table>
