<h2>Show game schedule</h2>

<ul>

  <li>
    <strong>Label:</strong>
    <%= @game_schedule.label %>
  </li>

  <li>
    <strong>Day:</strong>
    <%= @game_schedule.day %>
  </li>

  <li>
    <strong>Time of day:</strong>
    <%= @game_schedule.time_of_day %>
  </li>

</ul>
