<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="form-group">
    <%= label f, :name, class: "control-label" %>
    <%= text_input f, :name, class: "form-control" %>
    <%= error_tag f, :name %>
  </div>

  <div class="form-group">
    <%= label f, :clan, class: "control-label" %>
    <%= select f, :clan, clans(), class: "form-control" %>
    <%= error_tag f, :clan %>
    <span class="help-block">Spider are at the bottom (where they belong).</span>
  </div>

  <div class="form-group">
    <%= label f, :type, class: "control-label" %>
    <%= select f, :type, types(), class: "form-control" %>
    <%= error_tag f, :type %>
    <span class="help-block">Your character's school or alt. path tag (your choice).</span>
  </div>

  <div class="form-group">
    <%= label f, :keywords, class: "control-label" %>
    <input type="hidden" name="character[keywords]" />
    <div class="keyword-input-group">
    <%= for {keyword,index} <- array_values_for(f, :keywords) do %>
      <div class="input-group" id="keyword-input-group-<%= index %>">
        <%= text_input f, :keywords, name: "character[keywords][]", class: "form-control", value: keyword %>
        <span class="input-group-btn">
          <button class="btn btn-danger remove-btn" type="button" data-target="#keyword-input-group-<%= index %>">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          </button>
        </span>
      </div>
      <br/>
    <% end %>
  </div>
  <div class="form-group">
    <div class="input-group">
      <input id="keyword-entry" class="form-control" />
      <span class="input-group-btn">
        <button class="btn btn-default push-to-array" type="button" data-name="character[keywords][]" data-source="#keyword-entry" data-target=".keyword-input-group">
          Add
        </button>
      </span>
    </div>
  </div>

  <div class="form-group">
    <%= label f, :game_schedule_id, "Primary Game", class: "control-label" %>
    <%= select f, :game_schedule_id, game_schedules(), class: "form-control" %>
    <%= error_tag f, :game_schedule_id %>
    <span class="help-block">This is the Primary game your character is attached to, where you get full XP.</span>
  </div>

  <div class="form-group">
    <%= submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
