<h2>Characters</h2>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Clan</th>
      <th>Type</th>
      <th>Keywords</th>
      <th>Game schedule</th>
      <th>User</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for character <- @characters do %>
    <tr>
      <td><%= character.name %></td>
      <td><%= character.clan %></td>
      <td><%= character.type %></td>
      <td>
        <ul class="list-unstyled">
  <%= for keyword <- character.keywords || [] do %>
          <li><%= keyword %></li>
  <% end %>
        </ul>
      </td>
      <td><%= character.game_schedule.day %> (<%= character.game_schedule.label %>)</td>
      <td><%= character.user.username %></td>

      <td class="text-right">
        <%= if owner?(@conn, character) do %>
          <%= link "Edit", to: character_path(@conn, :edit, character), class: "btn btn-default btn-xs" %>
          <%= link "Delete", to: character_path(@conn, :delete, character), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %>
        <% else %>
          <%= link "Show", to: character_path(@conn, :show, character), class: "btn btn-default btn-xs" %>
        <% end %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
