<h2>Show character</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @character.name %>
  </li>

  <li>
    <strong>Clan:</strong>
    <%= @character.clan %>
  </li>

  <li>
    <strong>Type:</strong>
    <%= @character.type %>
  </li>

  <li>
    <strong>Game schedule:</strong>
    <%= @character.game_schedule.day %> (<%= @character.game_schedule.label %>)
  </li>

  <li>
    <strong>User:</strong>
    <%= @character.user.username %>
  </li>

</ul>
